.main_section{
    width: 50%;
    margin: 0 auto;
    display: flex;
}

.plyer_input_section{
    margin-top:  100px;
    margin-left: 50px;
}
#playersTextarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #playersTextarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
.winner{
    background-color: black;
    padding: 10px 30px;
    color:white
}
